section h1 {
  border-bottom: 2px solid #00a480;
  padding: 4px;
  text-transform: lowercase;
  font-size: 120%;
}

section h2 {
  border-bottom: 1px solid #FF6200;
  padding: 4px;
  text-transform: lowercase;
  font-size: 110%;
}

h3,h4,h5 {
  background: #eee;
  padding: 4px;
  text-transform: lowercase;
  font-size: 100%;
}

li {
  margin-left: 50px;
}
