<h2 >Connect <span class="ampersand">&amp;</span> Follow</h2>

{% assign size = '24' %}
<ul  id="contact-icons">
  <li><a class="image-wrapper" href="mailto:{{ site.email }}"><img src="https://github.com/philjackson/apiaxle/raw/gh-pages/img/email.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>e-mail <a href="mailto:{{ site.email }}">phil jackson</a></li>

  <li><a class="image-wrapper" href="{{ site.twitter }}"><img src="https://github.com/philjackson/apiaxle/raw/gh-pages/img/twitter.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Twitter <a href="{{ site.twitter }}">twitter.com/apiaxle</a></li>
</ul>

<h2>social</h2>

<div id="fb-like-container">
  <div class="fb-like" data-href="http://apiaxle.com" data-send="false" data-width="450" data-show-faces="true"></div>
</div>