<header>
  <div class="container">
    <div id="name-title" class="span-5">
      <a href="/"><h1>api axle</h1></a>
    </div>

    <nav id="main" class="span-7 last">
        <ul>
          <li>{% if page.title != 'About' %}<a href="/apiaxle/about.html">{% else %}<span class="selected">{% endif %}About{% if page.title != 'About' %}</a>{% else %}</span>{% endif %}</li>
          <li>{% if page.title != 'Docs' %}<a href="/apiaxle/docs.html">{% else %}<span class="selected">{% endif %}Docs{% if page.title != 'Docs' %}</a>{% else %}</span>{% endif %}</li>
        </ul>
    </nav>
  </div>
</header>
