<header>
  <div class="container">
    <div id="name-title" class="span-5">
      <a href="http://apiaxle.com"><h1>ApiAxle</h1></a>
    </div>

    <nav id="main" class="span-7 last">
        <ul>
          <li>{% if page.title != 'About & Support' %}<a href="http://apiaxle.com/about.html">{% else %}<span class="selected">{% endif %}About &amp; Support{% if page.title != 'About & Support' %}</a>{% else %}</span>{% endif %}</li>
          <li>{% if page.title != 'Documentation' %}<a href="http://apiaxle.com/docs.html">{% else %}<span class="selected">{% endif %}Docs{% if page.title != 'Documentation' %}</a>{% else %}</span>{% endif %}</li>
        </ul>
    </nav>
  </div>
</header>
