<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    {% include meta.html %}

    <style type="text/css">
      {% include blueprint/screen.css %}
      {% include site.css %}
      {% include docs.css %}
    </style>

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="http://use.typekit.com/xsz7aem.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>

    <!--[if lt IE 8]>
      <style type="text/css">
        {% include blueprint/ie.css %}
      </style>
    <![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27478345-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div id="page">

    {% include header.html %}

    <div id="content" >
      <section class="container">
        <div class="alert">
          <strong>Are you an ApiAxle user?</strong>
          <p>
            Then we would love
            to <a href="mailto:phil@shellarchive.co.uk">hear from
            you</a> about how it's working out for you. Fast enough?
            Configurable enough? Scaling? Get in touch.
          </p>
        </div>

        {{ content }}

        <div id="disqus_thread"></div>
      </section>
    </div>

    {% include footer.html %}
  </div>

  <script type="text/javascript">
      var disqus_shortname = 'apiaxle';

      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  </body>
</html>